#product-overview {
    background: linear-gradient(to top, rgba(80,68,18,0.6) 0%, transparent), url(./images/freedom.jpg) left 10% bottom 50%/cover no-repeat border-box, #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
    position: relative;
}

.section-title {
    color: #1C9E13;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
}

.plan_list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #BDE9BA;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan__highlighted {
    background: #3FA637;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation {
    background: white;
    color: #3FA637;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
    margin: 8px 0px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan__highlighted .plan__title {
    color: white;
}

.plan__highlighted .plan__price {
    color: #0e4f1f;
}

#key-features {
    background: #ff1b68;
    margin-top: 24px;
    padding: 8px;
}

#key-features > .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    color: white;
    font-size: 20px;
    text-align: center;
}

.key-feature__image {
    width: 128px;
    height: 128px;
    background: #ffcede;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

