* {
    box-sizing: border-box;
}

body {
    font-family: 'Monserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.main-header {
    width: 100%;
    position: fixed;
    background: #91DB8B;
    padding: 8px 16px;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 74px);
    text-align: right;
    vertical-align: middle;
    text-decoration: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin-right: 15px;
}

.main-nav__item a {
    text-decoration: none;
    color: #000;
    padding: 3px 0px;
    font-weight: bold;
}

.main-nav__item a:hover, 
.main-nav__item a:active {
    color: #FFF;
    border-bottom: 1px solid #000;
}

.main-nav__cta a{
    background: #ff1b68;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
}

.main-nav__cta a:hover,
.main-nav__cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: #000;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: #fff;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #0e4f1f;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}