.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1
}

main {
    padding-top: 2rem;
}

.main-section {
    border: 3px solid #1B6301;
    border-left: none;
    margin: 1rem 0;
    width: 80%;
    background: #AEF0B7;
    position: relative;
}

.main-section__link {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
}

.main-section__link h1 {
    margin-left: 1.5rem;
}

.main-section__link h2 {
    color: #AFAFAF;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main-section__link p {
    border: 1px solid #000;
    background: #fff;
    padding: 0.9rem 0.5rem;
    width: calc(90% - 30px);
    margin-left: 1.5rem;
}

.premium,
.premium .main-section__link > h1 {
    background: #296822;
    color: white;
}

.main-section:hover,
.main-section:active {
    border-color: #FF8102 !important;
}

.clear_fix {
    clear: both;
}

#free {
    float: right;
    border-right: none;
    border-left: 3px solid #1B6301;
}

.plus__badge {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.2rem;
    color: white;
    background: #ff5454;
    padding: 0.8rem;
    font-size: 0.8rem;
}

@media (min-width: 40rem) {
    main {
        margin: 3rem auto;
        max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .main-section {
        border-left: 4px solid #1B6301;
    }

    #free {
        border-right: 4px solid #1B6301;
    }
}